.icon {
  color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-3));
}

.name {
  font-family: Outfit, var(--mantine-font-family);
}

.shadow {
  text-shadow: 1px 1px 10px rgba(231, 219, 219, 0.397);
}

.shadow_t {
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.87);
}

.box_shadow {
  box-shadow: 0px 0px 10px rgba(77, 76, 76, 0.342);
}
